@import 'variables';
.breeds {
	&__limit,
	&__dropdown,
	&__sort {
		background-color: $mainBackground;
		border-radius: 10px;
		padding: 6px 8px;
		font-size: 16px;
		line-height: 150%;
		color: $grey;
		height: 40px;
		cursor: pointer;
		transition: all 0.2s ease-in-out 0s;
		&:hover {
			border: 2px solid $lightCoral;
		}
	}

	&__limit,
	&__dropdown {
		flex: 1 1 auto;
		border: none;
		width: 100%;
		outline: none;
		font-family: Jost;
		text-align: left;
		option {
			font-size: 16px;
			font-family: Jost;
		}
	}
	&__limit{
		@media (max-width:599.98px) {
			width: 55%;
		}
	}
	&__sort {
		flex: 0 0 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			path{
				fill: $coral;
			}
		}
	}
}
