@import 'variables';
.content {
	flex: 0 1 680px;
}
.search{
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin-bottom: 10px;
	&__burgerContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $lightBackground;
		width: 60px;
		height: 60px;
		border-radius: 20px;
		@media (min-width:767.98px) {
			display: none;
		}
	}
	&__burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
		z-index: 4;
			div {
				width: 100%;
				height: 2px;
				background-color: $coral;
				transition: all 0.3s ease 0s;
				border-radius: 15px;
				margin-bottom: 1px;
			}
	
			&_active {
				position: absolute;
				top: 30px;
				right: 30px;
				.second {
					transform: scale(0);
				}
	
				.first {
					top: 50%;
					position: absolute;
					transform: rotate(45deg);
				}
	
				.third {
					top: 50%;
					position: absolute;
					transform: rotate(-45deg);
				}
			}
	
			
		}
	&__form{
		flex: 1 1 auto;
		display: flex;
		border-radius: 20px;
		background-color: $lightBackground;
		padding: 10px;
		&:active{
			border: 2px solid $coral;
		}
		&:hover{
			border: 2px solid $lightCoral;
		}
		@media (max-width:599.98px) {
			order: 4;
			width: 100%;
		}
	}
	&__input{
		height: 40px;
		flex: 1 1 auto;
		padding-left: 10px;
		font-size: 20px;
		line-height: 150%;
		background-color: transparent;
		&::placeholder{
			font-size: 20px;
			color: $grey;
			line-height: 150%;

		}
	}
	&__buttons{
		display: flex;
		column-gap: 10px;
	}
	&__button{
		display: inline-flex;
		width: 40px;
		height: 40px;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background-color: $lightCoralTransparent;
		transition: all 0.2s ease-in-out 0s;
		&:hover{
			background-color: $coral;
			path{
				fill: #FFF;
			}
		}
	}
	&__link{
		padding: 15px;
		border-radius: 20px;
		background-color: $lightBackground;
		transition: all 0.3s ease-in-out 0s;
		&:hover{
			background-color: $lightCoral;
		}
		&_active{
			background-color: $coral;
		}
	}
	@media (max-width:599.98px) {
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 10px;
	}
}

.section{
	background-color: $lightBackgroundToBlack;
	max-width: 680px;
	overflow: auto;
	border-radius: 20px;
	padding: 20px;
	&__header{
		display: flex;
		column-gap: 10px;
		margin-bottom: 20px;
		.arrow {
			background-color: $lightCoralTransparent;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 40px;
			height: 40px;
			transition: all 0.2s ease-in-out 0s;
			&:hover{
				background-color: $coral;
				path{
					fill: #FFF;
				}
			}
		}
		
		.title, .subtitle {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 2px;
			border-radius: 10px;
			padding: 5px 30px;
			cursor: pointer;
		}
		.title{
			color: #FFF;
			background-color: $coral;
		}
		.subtitle{
			background-color: $lightCoral;
			color: $coral;
			transition: all 0.2s ease-in-out 0s;
			&:hover{
				background-color: $coral;
				color: $lightBackground;
			}
		}
		@media (max-width:599.98px) {
			flex-wrap: wrap;
			row-gap: 10px;
		}
	}
	
}
