@import 'variables';


.bg{
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(29, 29 , 29, 0.6);
}
.modal{
	position: relative;
	height: 100%;
	border-radius: 20px;
	background-color: $mainBackground;
	padding: 100px 20px;
	font-size: 20px;
	text-align: center;

	&__close{
		color: $coral;
		position: absolute;
		right: 30px;
		top: 30px;
		padding: 10px;
		cursor: pointer;
		background-color: $lightBackground;
		border-radius: 10px;
		&:hover{
			background-color: $coral;
			color: $lightBackground;
		}
	}
	&__title{
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	&__subtitle{
		color: $grey;
		line-height: 150%;
		margin-bottom: 40px;
		a{
			color: $coral;
		}
	}
	&__dropbox{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px dashed $lightCoral;
		border-radius: 20px;
		height: 320px;
		margin-bottom: 20px;
		background: $lightBackground url('../assets/images/upload-bg.svg') center center no-repeat;
		&_error{
			background-color: $lightCoral;
			border-color: $coral;
		}
	}
	&__instruction{
		color: $grey;
		line-height: 150%;
		span{
			color: $black;
			font-weight: 500;
		}
	}
	&__previewContainer{
		width: 640px;
		height: 320px;
		padding: 20px 40px;
	}
	&__preview{
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		object-fit: cover;
	}
	&__files{
		color: $grey;
		line-height: 150%;
		margin-bottom: 20px;
	}
	&__upload{
		background-color: $coral;
		text-transform: uppercase;
		border-radius: 10px;
		color: $lightBackground;
		padding: 12px 30px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 133%;
		&:hover{
			background-color: $lightCoral;
			color: $coral;
		}
	}
	&__result{
		padding: 20px;
		text-align: left;
		background-color: $lightBackground;
		border-radius: 10px;
		width: 100%;
		span{
			color: $grey;
			margin-left: 5px;
		}
	}
}