@import 'variables';

.voting{
	text-align: center;
	&__img{
		border-radius: 20px;
		display: block;
		height: 360px;
		margin: 0 auto;
	}
	&__pannelContainer{
		transform: translateY(-50%);
	}
	&__pannel{
		display: inline-flex;
		column-gap: 4px;
		justify-content: center;
		cursor: pointer;
		background-color: $lightBackground;
		border-radius: 20px;
		border: 4px solid $lightBackground;
		div{
			padding: 20px;
		}
	}
	&__like{
		background-color: #97EAB9;
		border-radius: 20px 0 0 20px;
		&:hover{
			background-color: #e1fbec;
			svg{
				path{
					fill: #97EAB9
				}
			}
		}
	}
	&__fav{
		background-color: $coral;
		&:hover{
			background-color: $lightCoral;
			svg{
				path{
					fill: $coral
				}
			}
		}
	}
	&__dislike{
		border-radius: 0 20px 20px 0 ;
		background-color: #FFD280;
		&:hover{
			background-color: #feebc9;
			svg{
				path{
					fill: #FFD280;
				}
			}
		}
	}
}

.history{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	&__element{
		display: flex;
		align-items: center;
		column-gap: 20px;
		width: 100%;
		background-color: $mainBackground;
		padding: 15px;
		border-radius: 10px;
	}
	&__date{
		flex: 0 1 auto;
		background-color: $lightBackground;
		padding: 3px 10px;
		color: $black;
		font-size: 16px;
		border-radius: 5px;
		line-height: 150%;
	}
	&__message{
		flex: 1 1 auto;
		text-align: left;
		color: $grey;
		font-size: 16px;
		line-height: 150%;
		span{
			color: $black;
			font-weight: 500;
		}
	}
}